<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />

    <link rel="stylesheet" href="/resources/css/aboutus.css">
    <link rel="stylesheet" href="/resources/incrementing-counter/style.css">
</head>
<body>  <header>
  <%- include('../partials/nav');
  %>
</header>
    <section id="section1">
        <div class="header2nd">
            <div class="header2ndinside">
            <span>  
            <b class="b">Website by: Ali Ashrar, Adnan Sujak, Omar Ibrahim, Shree Tripathi, Muazzum Akhtar
            </b><br>

           <span class="span"> Start Buying Your Favourite Theme</span>
            </span>   
            </div>
            <div class="home">
                <a href="">Home</a>
                /
                <a href="">About</a>
            </div>
        </div>
    <div class="container1">
         
        <div class="row">
        <div class="column" style="background-color:white;">
            <p class="font">WHY CHOOSE <SPan class="span2">US.</SPan></p>
            <hr class="hr">
           <p class="p">We’ve always been told that beauty hurts - that we must give up comfort in the name of style and compromise sophistication for whatever is fashionable. That’s where shopi comes in. 
            After years as a tech executive, shopi Zisser took a leap of faith and struck out on her own to create a new kind of luxury brand.
            From that moment on, she devoted herself to creating the clothes she’s been searching for all along, but was never able to find. </p>
         </div>
       <div class="column" style="background-color:white;">
         <p class="font">OUR<span class="span2"> MISSION</span></p>
         <hr class="hr">
         <p class="p">We’ve always been told that beauty hurts - that we must give up comfort in the name of style and compromise sophistication for whatever is fashionable. That’s where shopi comes in. 
            After years as a tech executive, shopi Zisser took a leap of faith and struck out on her own to create a new kind of luxury brand.
            From that moment on, she devoted herself to creating the clothes she’s been searching for all along, but was never able to find. </p>
        </div>
        <div class="column" style="background-color:white;">
            <p class="font">WHAT WE <span class="span2">DO</span></p>
             <hr class="hr">
             <p class="p">We’ve always been told that beauty hurts - that we must give up comfort in the name of style and compromise sophistication for whatever is fashionable. That’s where shopi comes in. 
                After years as a tech executive, shopi Zisser took a leap of faith and struck out on her own to create a new kind of luxury brand.
                From that moment on, she devoted herself to creating the clothes she’s been searching for all along, but was never able to find. </p>
           </div>
       </div>
     </div>
<div class="social-stats">
  <div class="counter-container">
    <i class="fab fa-twitter fa-3x"></i>
    <div class="counter" data-target="12000"></div>
    <span>Twitter Followers</span>
  </div>

  <div class="counter-container">
    <i class="fab fa-youtube fa-3x"></i>
    <div class="counter" data-target="5000"></div>
    <span>YouTube Subscribers</span>
  </div>

  <div class="counter-container">
    <i class="fab fa-facebook fa-3x"></i>
    <div class="counter" data-target="7500"></div>
    <span>Facebook Fans</span>
  </div>
</div>
    
    </section>
    <div class="fdiv">
      <footer>
        <div class="w">
           <a class="fa" href=""> Country</a>
           <a class="fa" href=""> Location</a> 
           <a class="fa" href=""> Products</a> 
           <a class="fa" href=""> Work</a></div>
        <div class="m">
          <img class="fimg" src="/resources/images/facebook.png" alt="" />
          <img class="fimg" src="/resources/images/twitter.png" alt="" />
          <img class="fimg" src="/resources/images/google.png" alt="" />
          <img class="fimg" src="/resources/images/insta.png" alt="" />
        </div>

        <div class="m">
          Made in Melborone<img
            class="cimg"
            src="/resources/images/america.png"
            alt=""
          />
        </div>
        <div class="m w">©2022 Privacy-policy Legal</div>
      </footer>
    </div>
    <script src="/resources/incrementing-counter/script.js"></script>

</body>
</html>