<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/resources/css/home.css" />
    <title>Shopi</title>
  </head>
  <body>
    <%- include('../partials/nav');
    %>

    <div class="div2 top-banner">
      <img class="bimg" src="/resources/images/chashmish.png" alt="" />
      <div class="con">
        <div class="div3">
          <p>GET YOUR SHOPING BEG READY</p>
          <h1>
            Latest fashion <br />
            collection
          </h1>
          <p>
            We have created a design that looks Awesome, perform <br />
            Brilliantly and sens Orientation
          </p>
          <button class="but"><a class="ba" href="/shopi/all"> Start Shopping </a></button>
        </div>
      </div>
    </div>

    <div class="pop">
      <h2>
          Popular Brands
    </h2>
  </div>

    <div class="brand-container">
      <div class="brand">
        <div class="mdiv">
          <img class="mimg" src="/resources/images/1.png" alt="" />
        </div>
        <div class="mdiv">
          <img class="mimg" src="/resources/images/2.png" alt="" />
        </div>
        <div class="mdiv">
          <img class="mimg" src="/resources/images/3.png" alt="" />
        </div>
        <div class="mdiv">
          <img class="mimg" src="/resources/images/4.png" alt="" />
        </div>
        <div class="mdiv">
          <img class="mimg" src="/resources/images/5.png" alt="" />
        </div>
        <div class="mdiv rblock">
          <img class="mimg" src="/resources/images/14.png" alt="" />
        </div>
      </div>
      <div class="brand">
        <div class="mdiv">
          <img class="mimg" src="/resources/images/7.png" alt="" />
        </div>
        <div class="mdiv">
          <img class="mimg" src="/resources/images/8.png" alt="" />
        </div>
        <div class="mdiv">
          <img class="mimg" src="/resources/images/9.png" alt="" />
        </div>
        <div class="mdiv">
          <img class="mimg" src="/resources/images/12.png" alt="" />
        </div>
        <div class="mdiv">
          <img class="mimg" src="/resources/images/13.png" alt="" />
        </div>
        <div class="mdiv rblock">
          <img class="mimg" src="/resources/images/14.png" alt="" />
        </div>
      </div>
      <div class="brand">
        <div class="mdiv block">
          <img  class="mimg" src="/resources/images/15.png" alt="" />
        </div>
        <div class="mdiv block ">
          <img class="mimg" src="/resources/images/16.png" alt="" />
        </div>
        <div class="mdiv block ">
          <img class="mimg" src="/resources/images/17.png" alt="" />
        </div>
        <div class="mdiv block ">
          <img class="mimg" src="/resources/images/18.png" alt="" />
        </div>
        <div class="mdiv block ">
          <img class="mimg" src="/resources/images/19.png" alt="" />
        </div>
        <div class="mdiv block rblock ">
          <img class="mimg" src="/resources/images/9.png" alt="" />
        </div>
      </div>
    </div>
  
  <div class="brand-container">  
    <div class="div4">
      <div class="div5">
        <h4> <img class="likeimg" src="/resources/images/like.png" alt="">100% original</h4>
        <p class="ps">We guarantee you the sle of original <br> brand</p>

      </div>
      <div class="div5">
        <h4><img class="likeimg" src="/resources/images/credit-card.png" alt=""> Payment Option</h4>
        <p class="ps">We accecpt visa, MasterCard and <br>American Express</p>

      </div>
      <div class="div5">
        <h4><img class="likeimg" src="/resources/images/pickup.png" alt="">Free Shipping</h4>
        <p class="ps">Free deleivery to 100+ location <br>on order above $40</p>

      </div>
      <div class="div5">
        <h4><img class="likeimg" src="/resources/images/go-back-arrow.png" alt=""> 3o-days-return</h4>
        <p class="ps">Return or exchange item Purchased <br> within 30 days</p>

      </div>
    </div>
  </div>

    <div class="fdiv">
      <footer>
        <div class="w">
           <a class="fa" href=""> Country</a>
           <a class="fa" href=""> Location</a> 
           <a class="fa" href=""> Products</a> 
           <a class="fa" href=""> Work</a>
        </div>
        <div class="m">
          <img class="fimg" src="/resources/images/facebook-logo.png" alt="" />
          <img class="fimg" src="/resources/images/twitter.png" alt="" />
          <img class="fimg" src="/resources/images/google.png" alt="" />
          <img class="fimg" src="/resources/images/social-media.png" alt="" />
        </div>

        <div class="m">
          Made in Melborone<img
            class="cimg"
            src="/resources/images/australia.png"
            alt=""
          />
        </div>
        <div class="m w">©2022 Privacy-policy Legal</div>
      </footer>
    </div>

   
  </body>
</html>
